<form method="post" action="{{ path('account_delete', {'id': account.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ account.id) }}">
    <button class="btn">Delete</button>
</form>