{% extends 'base.html.twig' %}

{% block title %}Operation index{% endblock %}

{% block body %}
    <h1>Operation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Type</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for operation in operations %}
            <tr>
                <td>{{ operation.id }}</td>
                <td>{{ operation.name }}</td>
                <td>{{ operation.price }}</td>
                <td>{{ operation.type ? 'Yes' : 'No' }}</td>
                <td>{{ operation.date ? operation.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('operation_show', {'id': operation.id}) }}">show</a>
                    <a href="{{ path('operation_edit', {'id': operation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('operation_new') }}">Create new</a>
{% endblock %}